/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* == VARIABLES COLORES == */
:root{
  --main-color:#06205C;
  --secondary-color:#29ABB8;
  --optional-color:#e0a805;
  --light-color1:#FAFFFF;
  --light-color2:#49C3CE;
}

/* == Fuentes == */
:root {
	font-size: 20px; /* MEDIDA BASE: 20px = 1rem */
}

/*
Encabezados:
font-family: 'Crimson Text', serif;

Párrafos:
font-family: 'Lato', sans-serif;

*/

/* == Elemento h1 específico== */

#main-title{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 40px;
}

/* == Jerarquía de textos: encabezados == */

h1 {
  font-family: 'Crimson Text', serif;
	color: var(--secondary-color);
  font-weight: 900;
	font-size: 2.5rem;
  text-transform: uppercase;
	line-height: 3.755rem;
}

h2 {
  font-family: 'Crimson Text', serif;
	color: var(--main-color);
	font-size: 2.25rem;
	line-height: 3.375rem;
}

#text-crusted{
  color: var(--light-color2) !important;
}

/* == Jerarquía de textos: párrafos == */

p{
  font-family: 'Lato', sans-serif;
}

.p-carousel {
	color:var(--light-color1);
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 500;
}

.p-content {
	color:var(--main-color);
	font-size: 0.9rem;
	line-height: 1.35rem;
	font-weight: 400;
}

.p-article{
	color: var(--main-color);
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 300;
}

.p-footer{
	color: var(--main-color);
	font-weight: 500;
	font-size: 0.7rem;
	line-height: 1.05rem;
}


/* == CARRUSEL == */


/* == Imágen de fondo de primera vista de carrusel== */

.carousel-inner .carousel-item:nth-child(1){
  background: url(./assets/imgs/carrusel3.jpg) right no-repeat;
  background-size: cover;

}

/* == Imágen de fondo de segunda vista de carrusel== */

.carousel-inner .carousel-item:nth-child(2){
  background: url(./assets/imgs/carrusel4.jpg) center no-repeat;
  background-size: cover;

}

/* == Imágen de fondo de tercera vista de carrusel== */

.carousel-inner .carousel-item:nth-child(3){
  background: url(./assets/imgs/carrusel14.jpg) center no-repeat;
  background-size: cover;

}

.container .carousel-caption h1{
  color: var(--light-color1);
  text-shadow: 
    2px 4px 7px var(--main-color),
    1px 0 15px var(--secondary-color),
    1px 1px 25px var(--secondary-color),
    0 1px 35px var(--secondary-color);

  font-weight: 900;
}

.p-carousel{
  text-shadow: 
    1px 2px 4px var(--main-color),
    1px 0 6px var(--optional-color),
    2px 1px 10px var(--optional-color);
}

/* == CABECERA == */

#navpage {
  background: var(--secondary-color)!important;
}

.form-control{
  background-color: var(--light-color1);
  border: 4px solid var(--optional-color);
}

.form-control::placeholder { 
  color: var(--main-color);
}

/* == Imágenes CIRCULARES == */

.cicular-image-1{
  width: 140px;
  border-radius: 50%;
  outline: 5px solid var(--light-color2);

}

.cicular-image-2{
  background: url(./assets/imgs/Circle-paneton-2.jpg) center;
  background-size: cover;
  outline: 5px solid var(--light-color2);
}

.cicular-image-3{
  width: 140px;
  border-radius: 50%;
  outline: 5px solid var(--light-color2);
}

/* == BOTÓN FLOTANTE == */

#boton-flotante{
  background:var(--light-color2);
  border: 2px solid var(--light-color1);
  box-shadow: 0px 0px 8px 1px var(--secondary-color);
}

/* == IMÁGENES 500x500 == */


#square-image-1{
  background: url(./assets/imgs/product2.jpg) no-repeat center;
  background-size: cover;
}

#square-image-2{
  background: url(./assets/imgs/product3.jpg) no-repeat center;
  background-size: cover;
}

#square-image-3{
  background: url(./assets/imgs/product1.jpg) no-repeat center;
  background-size: cover;
}